<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>CFBundleTypeName</key>
			<string>com.apple.iwork.numbers.document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.numbers</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TNMacDocument</string>
			<key>NSDownloadsUbiquitousContents</key>
			<true/>
			<key>NSIsRelatedItemType</key>
			<true/>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.apple.numbers.documentEditing</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>CFBundleTypeName</key>
			<string>com.apple.iwork.numbers.alt-document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.sffnumbers</string>
				<string>com.apple.iwork.numbers.numbers-tef</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TNMacDocument</string>
			<key>NSDownloadsUbiquitousContents</key>
			<true/>
			<key>NSIsRelatedItemType</key>
			<true/>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.apple.numbers.documentEditing</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersTemplate</string>
			<key>CFBundleTypeName</key>
			<string>com.apple.iwork.numbers.template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.template</string>
				<string>com.apple.iwork.numbers.sfftemplate</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TNMacDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>com.apple.iwork.numbers.excel</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.excel.xlt</string>
				<string>com.microsoft.excel.xla</string>
				<string>com.microsoft.excel.openxml.addin</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.spreadsheetml.sheet.macroenabled</string>
				<string>org.openxmlformats.spreadsheetml.template</string>
				<string>org.openxmlformats.spreadsheetml.template.macroenabled</string>
				<string>com.microsoft.excel.openxml.workbook</string>
				<string>com.microsoft.excel.openxml.workbook.macro-enabled</string>
				<string>com.microsoft.excel.openxml.template</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TNMacDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlam</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XLAM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel add-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLAM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.openxml.addin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>com.apple.iwork.numbers.csv</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.comma-separated-values-text</string>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TNMacDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Numbers</string>
	<key>CFBundleHelpBookFolder</key>
	<string>numbers.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.iWork.Numbers.remote.help</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iWork.Numbers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Numbers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2</string>
	<key>CFBundleSignature</key>
	<string>NMBR</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4582</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0832</string>
	<key>DTXcodeBuild</key>
	<string>8E2002</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>This will let Numbers use the name from your contact card in comments. You can change this later in System Preferences &gt; Security &amp; Privacy.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2008-2017 Apple Inc. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>TNMacApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>com.apple.Numbers</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>OSAScriptingDefinition</key>
	<string>Numbers.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
				<string>public.spreadsheet</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Spreadsheet</string>
			<key>UTTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iwork.numbers.numbers</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>numbers</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
				<string>public.spreadsheet</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Spreadsheet</string>
			<key>UTTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iwork.numbers.sffnumbers</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>numbers</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-keynote-sffnumbers</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
				<string>public.spreadsheet</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Template</string>
			<key>UTTypeIconFile</key>
			<string>NumbersTemplate</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iwork.numbers.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nmbtemplate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
				<string>public.spreadsheet</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Template</string>
			<key>UTTypeIconFile</key>
			<string>NumbersTemplate</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iwork.numbers.sfftemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nmbtemplate</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-numbers-sfftemplate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Spreadsheet</string>
			<key>UTTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iwork.numbers.numbers-tef</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>numbers-tef</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Excel 97-2004 add-in</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.excel.xla</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XLA8</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>xla</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Excel 2007/2010 Open XML macro-enabled workbook template file</string>
			<key>UTTypeIdentifier</key>
			<string>org.openxmlformats.spreadsheetml.template.macroenabled</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XLTM</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>xltm</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>requiredBuildHash</key>
	<string>1033c3f07b6ec33853b52783f158f2e35e684ded</string>
</dict>
</plist>
