<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>../Frameworks/MAResources.framework/Resources</string>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GarageBand</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>band</string>
				<string>gbProj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GarageBandDocument</string>
			<key>CFBundleTypeName</key>
			<string>GarageBand Project</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EMP1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.garageband.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>CLgSongDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mwand</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GarageBandDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>GarageBandMagicMentorTemplate</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.garageband.template.magicmentor</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>DfDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>patch</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Patch.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logic X Patch</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mainstage.patches</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>CLgSongDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>StandardMIDIFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Standard MIDI File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.midi-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CLgSongDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicAudioFileAIFF.icns</string>
			<key>CFBundleTypeName</key>
			<string>AIFF Audio file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aiff-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>caf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicAudioFileCAF.icns</string>
			<key>CFBundleTypeName</key>
			<string>CAF Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.coreaudio-format</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sd2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicAudioFileSDII.icns</string>
			<key>CFBundleTypeName</key>
			<string>SoundDesigner II audio file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.digidesign.sd2-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>wave</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicAudioFileWAV.icns</string>
			<key>CFBundleTypeName</key>
			<string>Wave file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicPluginSetting.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logic Plug-in settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PSET</string>
				<string>EM9S</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.pluginsetting</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicCST.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logic Channel Strip settings file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.channelstripsetting</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>LogicIOLabel.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logic I/O label file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LABL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.iolabels</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdir</string>
				<string>SDIR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ImpulseResponse.icns</string>
			<key>CFBundleTypeName</key>
			<string>Space Designer Impulse Response</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SDIR</string>
				<string>AIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.Logic.SpaceDesignerImpulseResponse</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exs</string>
				<string>SBK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>EXS24Instrument.icns</string>
			<key>CFBundleTypeName</key>
			<string>EXS24 instrument file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.exs</string>
				<string>.SBK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.exs</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>logikcs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogicKeyCommands.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logic Key Commands</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.keycommand</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gchdb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Guitar Chord Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.gchdb</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dpst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DPST.icns</string>
			<key>CFBundleTypeName</key>
			<string>Drummer Editor Preset</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.logic.dpst</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GarageBand</string>
	<key>CFBundleGetInfoString</key>
	<string>GarageBand 10.2.0, Copyright © 2004-2017 Apple Inc. All Rights Reserved</string>
	<key>CFBundleHelpBookFolder</key>
	<string>garageband.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.garageband10.help</string>
	<key>CFBundleIconFile</key>
	<string>GarageBand.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.garageband10</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GarageBand</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortName</key>
	<string>GarageBand</string>
	<key>CFBundleShortVersionString</key>
	<string>10.2.0</string>
	<key>CFBundleSignature</key>
	<string>band</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4769.13</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8B62</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16B2657</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0810</string>
	<key>DTXcodeBuild</key>
	<string>8B62</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>MADefaultResourceBundleID</key>
	<string>com.apple.music.apps.MAResources</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSDisablePersistence</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CLgApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>F3LWYJ7GM7.com.apple.garageband10</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>GarageBand for macOS</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
		<key>F3LWYJ7GM7.com.apple.mobilegarageband</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>GarageBand for iOS</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
		<key>F3LWYJ7GM7.com.apple.musicmemos.ideas</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Music Memos</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>OSAScriptingDefinition</key>
	<string>GarageBandSuite.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GarageBand Project</string>
			<key>UTTypeIconFile</key>
			<string>GarageBandDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.project</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>band</string>
					<string>gbProj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MagicMentor GarageBand Template</string>
			<key>UTTypeIconFile</key>
			<string>GarageBandDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.template.magicmentor</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mwand</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EXS instrument</string>
			<key>UTTypeIconFile</key>
			<string>EXS24Instrument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.exs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>.exs</string>
					<string>.SBK</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>exs</string>
					<string>sbk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logic Audio Plug-In Setting proprietary format</string>
			<key>UTTypeIconFile</key>
			<string>LogicPluginSetting.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.pluginsetting</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>EM9S</string>
				<key>public.filename-extension</key>
				<string>pst</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Notator SL Song</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.notator</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>SON</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Guitar Chord Library</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.gchdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gchdb</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logic X Project</string>
			<key>UTTypeIconFile</key>
			<string>LogicXProject.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logicx.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>logicx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Space Designer Impulse Responses</string>
			<key>UTTypeIconFile</key>
			<string>ImpulseResponse.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.Logic.SpaceDesignerImpulseResponse</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SDIR</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sdir</string>
					<string>SDIR</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drummer Library</string>
			<key>UTTypeIconFile</key>
			<string></string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.drummerlibrary</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>glibb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drummer Editor Preset</string>
			<key>UTTypeIconFile</key>
			<string>DPST.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.dpst</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dpst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MainStage Graph Preset</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mainstage.graph</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mainstageGraph</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logic Key Commands proprietary format</string>
			<key>UTTypeIconFile</key>
			<string>LogicKeyCommands</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.keycommand</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>LkcS</string>
				<key>public.filename-extension</key>
				<string>logikcs</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.localizable-name-bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MainStage Patch</string>
			<key>UTTypeIconFile</key>
			<string>Patch.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mainstage.patches</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>patch</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>audio unit preset</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.audio-unit-preset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aupreset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Advanced Authoring Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.aafassociation.advanced-authoring-format</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.aafassociation.org/html/techinfo/index.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>AAF </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>aaf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.audiovisual-content</string>
			<key>UTTypeDescription</key>
			<string>Open Media Framework interchange format</string>
			<key>UTTypeIdentifier</key>
			<string>com.avid.open-media-framework</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OMF </string>
					<string>OMFI</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>omf</string>
					<string>omfi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Open TL format</string>
			<key>UTTypeIdentifier</key>
			<string>com.tascam.opentl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OPTL</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>tl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.audio</string>
			<key>UTTypeDescription</key>
			<string>MIDI audio</string>
			<key>UTTypeIdentifier</key>
			<string>public.midi-audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Midi</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>midi</string>
					<string>mid</string>
					<string>smf</string>
					<string>kar</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/midi</string>
					<string>audio/x-midi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logic Song</string>
			<key>UTTypeIconFile</key>
			<string>LogicSong.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic-song</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>EM3F</string>
					<string>sM3F</string>
				</array>
				<key>public.filename-extension</key>
				<string>lso</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logic Project</string>
			<key>UTTypeIconFile</key>
			<string>LogicProject.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>????</string>
				<key>public.filename-extension</key>
				<string>logic</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logic Audio Channel Strip Setting proprietary format</string>
			<key>UTTypeIconFile</key>
			<string>LogicCST.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.logic.channelstripsetting</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>.CST</string>
				<key>public.filename-extension</key>
				<string>cst</string>
			</dict>
		</dict>
	</array>
	<key>WhatsNewPanelVersion</key>
	<integer>2</integer>
</dict>
</plist>
